body {
  color: #222;
  background: #f5f5f5;
  font-family: Nunito, monospace;
  margin: 4em;
}

.hidden {
  display: none !important;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #545758;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.card {
  color: #444;
  background: #fff;
  font-size: 24px;
  text-align: center;
  padding: 1em;
  margin: 2em 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.4);
  width: 50vw;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotateY(0) rotateZ(0);
}

.card:hover {
  cursor: pointer;
}

.card.animate-front {
  /* transform: rotate(360deg) scaleX(-1); */
  /* animation: flip 0.25s ease-in 1; */
  transform: rotateY(0deg);
  transition: transform 0.25s;
}

.card.animate-back {
  transform: rotateY(180deg);
  transition: transform 0.25s;
}

.card.animate-back .answer {
  transform: rotateY(-180deg);
}

.card .number {
  color: #999;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: 1em;
  right: 1em;
}

.card button {
  margin-top: 1em;
  display: block;
}

.card .question,
.card .answer {
  text-align: center;
}

.card .question {
  font-weight: bold;
  display: block;
}

.card .answer {
  padding-left: 0.5em;
  display: block;
}

div.next {
  background: #dde3e7;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

div.next:hover {
  color: #dde3e7;
  background: #787c7e;
  cursor: pointer;
}

div.next a {
  color: #000;
  text-decoration: none;
  user-select: none;
}
div.next a:hover {
  color: #dde3e7;
  background: #787c7e;
}
